*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  text-align:center;
  margin:20px;
}

.nav-list{
  text-align:center;
  border-bottom:1px solid black;
  border-top:1px solid black;
}

.nav-list-item{
  display:inline-block;
  margin:15px 20px;
}

.box-list{
  width:800px;
  margin:50px auto;
  display:flex;
  flex-wrap:wrap;
}


.box1{
  background-color:#FFEEFF;
  width:200px;
  height:200px;
}

.box2{
  background-color:#FFDDFF;
  width:200px;
  height:200px;
}

.box3{
  background-color:#FFCCFF;
  width:200px;
  height:200px;
}

.box4{
  background-color:#FFBBFF;
  width:200px;
  height:200px;
}

.box5{
  background-color:#DDFFFF;
  width:200px;
  height:200px;
}

.box6{
  background-color:#CCFFFF;
  width:200px;
  height:200px;
}

.box7{
  background-color:#AAFFFF;
  width:200px;
  height:200px;
}

.box8{
  background-color:#77FFFF;
  width:200px;
  height:200px;
}

.box9{
  background-color:#FFFFBB;
  width:200px;
  height:200px;
}

.box10{
  background-color:#FFFF99;
  width:200px;
  height:200px;
}

.box11{
  background-color:#FFFF55;
  width:200px;
  height:200px;
}

.box12{
  background-color:#FFFF00;
  width:200px;
  height:200px;
}

footer{
  height:120px;
  line-height:120px;
  background-color: gray;
  text-align:center;
}

footer .p{
  color:white;
}