*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

header{
  height:50px;
  background-color:#ff9a4b;
}

main{
  width:960px;
  margin:50px auto;
  display:flex;
}

.big-box{
  width:300px;
  padding:10px;
  background-color:#eeeeee;
  position:relative;
  margin-right:30px;
}

.big-box:last-child{
  margin-right:0;
}

.num{
  position:absolute;
  top:0;
  left:0;
  background-color:#ff9a4b;
  color:white;
}

.image-1{
  background-image:url(img/flow01.png);
  height:150px;
  background-size:cover;
  background-position:bottom;
}

.image-2{
  background-image:url(img/flow02.png);
  height:150px;
  background-size:cover;
  background-position:bottom;
}

.image-3{
  background-image:url(img/flow03.png);
  height:150px;
  background-size:cover;
  background-position:bottom;
}

.title{
  margin-top:15px;
  margin-bottom:5px;
}

footer{
  height:50px;
  background-color:#aaaaaa;
}



@media screen and (max-width: 768px) {
  
  header, footer{
    width:100%;
  }
  
  main{
    width:100%;
    display:block;
  }
  
  .big-box{
    width:90%;
    margin:0 auto;
    margin-bottom:20px;
  }
  
  .big-box:last-child{
    margin:0 auto;
  }
  
  
  /*ここから下要らないかも*/
  .image-1{
    background-position:50% 85%;
}

  .image-2{
    background-position:50% 85%;
}

  .image-3{
    background-position:50% 85%;
}

}
